<div class="container">
  <div class="card-showpage mb-4">
    <%= cl_image_tag @menu_item.photo.key%>

    <div class="card-showpage-infos">
      <h2><%= @menu_item.name %></h2>
      <p><strong>from &nbsp</strong><%= @menu_item.place.name %></p>
    </div>

    <div class="row card-showpage-infos">
      <div class= "col-6">
        <p><em>Category:</em></p>
        <p><strong><%= @menu_item.category %></strong></p>
      </div>
      <div class= "col-6">
        <p><em>visited on:</em></p>
        <p><strong><%= @menu_item.visit_date.strftime("%A, %b %d") %></strong></p>
      </div>
    </div>

    <div class="row card-showpage-infos">
      <div class= "col-6">
        <p><em>Rating:</em></p>
        <p>
          <% @menu_item.rating.times do %>
            <i class="fa-solid fa-star"></i>
          <% end %>
          <% (5 - @menu_item.rating).times do %>
            <i class="fa-regular fa-star"></i>
          <% end %>
        </p>
      </div>
      <div class= "col-6">
        <p><em>Price:</em></p>
        <p><strong><%= @menu_item.price %>€</strong></p>
      </div>
    </div>
    <div class="card-review">
      <p><em>Review:</em></p>
      <p><strong><%= @menu_item.description %></strong></p>
    </div>
  </div>
  <a href="/dashboard" class="btn btn-ghost" role="button">Go to dashboard</a>
</div>
