<div class="container">
  <h1>Dashboard</h1>
  <h2>Places you have visited</h2>

<div class="container">
  <div id="places-carousel" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <% @places.each_with_index do |place, index| %>
        <li data-bs-target="#places-carousel" data-bs-slide-to="<%= index %>" class="<%= 'active' if index == 0 %>"></li>
      <% end %>
    </ol>
    <div class="carousel-inner">
      <% @places.each_with_index do |place, index| %>
        <div class="carousel-item <%= 'active' if index == 0 %>">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Place: <em><%= place.name %></em> </h5>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <a class="carousel-control-prev" href="#places-carousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#places-carousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>

  <div class="mt-3" style="color: black;">
    <div class="list">
      <div class=" justify-content-end;">
        <%= link_to "see all places", places_path %>
      </div>
      <ul class="list-group" data-places-target="list">
        <% @places.each do |place| %>
          <% if place.name == "1" %>
            <li class="list-group-item"><%= place.name %></li>
          <% else %>
            <li class="list-group-item" hidden><%= place.name %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>



<br>

<div class="container">
<h2>You Have Eaten</h2>
<div id="menu_items-carousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <% @menu_items.each_with_index do |menu_item, index| %>
      <div class="carousel-item <%= 'active' if index == 0 %>">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= menu_item.name %></h5>
            <p class="card-text"><%= menu_item.price %></p>
            <p class="card-text"><%= menu_item.category %></p>

          </div>
        </div>
      </div>
    <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#menu_items-carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#menu_items-carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
</div>
